.logo {
  width:150px;
  margin-left: 80px;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 30px; */
  transform: translate(0px,-18px)
}

.container{
  /* fondo */
   background: linear-gradient( rgba(93, 105, 128, 0.7),rgba(24, 25, 46, 0.7)),url('../img/fondo3.jpeg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   margin: 0;
   color: white;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
}

.form {
	height: 800px;
	padding: 10rem;
	margin-left: auto;
	margin-right:auto;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.438);
	border-radius: 20px;
  
}
.input{
	outline: none;
}
label {
	margin: 5rem;
  /* display: block; */
  padding-left: 15px;
  text-indent: -15px;
	color: #fff;
	outline: none;
  
}

.error{
	color:rgb(255, 0, 0);
	margin-top: 2px;
	font-size: 14px;
}
.buttons{
  margin: 5rem;
  position: absolute;
  bottom: 0% center;
 
  background-position: center center;
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border-radius: 30px;
  border: 1px solid #ffffff;
  padding: 6px 35px 6px 35px;
  transition: .5s; 
}
.buttons:hover{
  background-color:  #ff4f61;
  color: #fff;
  border:#ff4f61;
  }

.back{
  margin: 5rem;
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-position: center center;
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border-radius: 30px;
  border: 1px solid #ffffff;
  padding: 6px 35px 6px 35px;
  transition: .5s;
}
.back:hover{
background-color: #ffcb3a;
color: #fff;
border:#ffcb3a;
}


.select{
  margin: 5rem;

	font-size: 14px;
	color: rgb(255, 255, 255);
	align-items: center;
	justify-content: center;
	margin-top: 0.6rem;
	overflow: scroll;
	height: 2rem;
	position: relative;
	top: 0;
	z-index: 1;
	padding-left: 15px;
	border-radius: 10px;
}
.selected-types {
	color: rgb (26, 0 , 51);
  display: flex;
  flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-right: 2rem;
	
}

.selected-type {
	font-family:  Geneva, Tahoma, sans-serif;
	color: rgb(0, 0, 0);
	font-size: 15px;
  background: white;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
	margin-top: 0.5rem;
  display: flex;
	height: 2rem;
}

.selected-type button {
  background: transparent;
  border: none;
	border-radius: 40%;
  cursor: pointer;
  padding: 0;
  margin-left: 0.5rem;
	margin-bottom: 0.3rem;
  color: rgb (26, 0 , 51);
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
}