.logo {
    width:150px;
    margin-left: 80px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
    transform: translate(0px,-18px)
}
  
.container{
    /* fondo */
    background: linear-gradient( rgba(93, 105, 128, 0.7),rgba(24, 25, 46, 0.7)),url('../img/fondo3.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 800px;
  overflow: auto;
   
}
.detail{
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 100px;
}
.back{
    margin: 5rem;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-position: center center;
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border-radius: 30px;
    border: 1px solid #ffffff;
    padding: 6px 35px 6px 35px;
    transition: .5s;
    
}

.back:hover{
  background-color: #ffcb3a;
  color: #fff;
  border:#ffcb3a;
}

.names {
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.438);
    color: #ffffff;
}

.id{
    text-align: center;
    font-size: 30px;
    color:#511d47;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.438);
}

.image {
 
    border-radius: 50px;
    border: 1px solid transparent;
    transition: var(--transition);
   

}

.type {
    
    list-style: none;
    color: #ffffff;
  }
  
  .type1, .type2 {
  
    text-transform: capitalize;
    list-style: none;
  color: white;
    font-size: 30px;
    margin-right: 30px;
  
  }
  
  .list{
    
    text-transform: capitalize;
    font-weight: thick;
    list-style: none;
    font-size: 25px;
    margin-top: 50px;
    color: #ffffff;
   
  
  }