.container{
    background: linear-gradient(to right, #F3E60C,#6ca1d3,#F78C22,#68BD56);
    display: flex;
    background-position: bottom center;
     background-size: cover;
     color: white;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: 1.5rem;
 }

  .container_create{
    flex-direction: row;  
    grid-template-columns: repeat(2, auto);
  gap: 20%;
  }
  form {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    left: 10%;
  } 
  /* .image {
    height: 200px;
    width: 200px;
    
 } */
  .img-size {
    max-width: 100%;
    max-height: 100%;
    align-items: flex-end;
  }

  .textInputWrapper {
    position: relative;
    width: 250px;
    margin: 12px 5px;
  }
  
  /* .textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  } */
  
  .textInputWrapper:before,
  .textInputWrapper:after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    bottom: -1px;
    z-index: 4;
    width: 100%;
  }
  
  .textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(40, 23, 149, 0.42);
  }
  
  .textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--color-primary);
    transform: scaleX(1);
  }
  
  .textInputWrapper:focus-within:after {
    border-bottom: 2px solid var(--color-primary);
    transform: scaleX(1);
  }
  
  .textInputWrapper:after {
    content: "";
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    will-change: transform;
    border-bottom: 2px solid var(--color-primary);
    border-bottom-color: var(--color-primary);
  }
  
  .textInput::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(255, 255, 255, 0.582);
  }
  
  .textInputWrapper .textInput {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
    background-color: #252525;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: #e8e8e8;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
  
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    outline: none;
  }
  
  .textInputWrapper:focus-within .textInput,
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    background-color: #353535;
  }
  
  .textInputWrapper:focus-within .textInput::placeholder {
    opacity: 0;
  }

  .buttonx {
    width: 160px;
    height: 2.5em;
    cursor: none;
    display: flex;
    align-items: center;
    color: #000000;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .position_x {
    position: absolute;
    left: 44%;
    bottom: 1.99rem;
  
  }
  /* =======================================btn return position */
  .button {
    margin: 30px;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background-color: #034bc8;
    background-image: linear-gradient(315deg, #034bc8 0%, #89afd8 74%);
      line-height: 42px;
      padding: 0;
      border: none;
  }

  .button:hover{
    background-color: #89afd8;
background-image: linear-gradient(315deg, #89afd8 0%, #034bc8 74%);
  }
  .button span{
    position: relative;
  display: block;
  width: 100%;
  height: 100%;
  }
  .button:before,
.button:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.button:before {
  height: 0%;
  width: .1px;
}
.button:after {
  width: 0%;
  height: .1px;
}
.button:hover:before {
  height: 100%;
}
.button:hover:after {
  width: 100%;
}
.button span:before,
.button span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.button span:before {
  width: .1px;
  height: 0%;
}
.button span:after {
  width: 0%;
  height: .1px;
}
.button span:hover:before {
  height: 100%;
}
.button span:hover:after {
  width: 100%;
}
  
  .p {
    color: #e62222;
  }
  
  .container-view {
    margin-top: 0.3rem;
    width: 200%;
    margin-left: -5rem;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: auto;
  }
  
  .container-name {
    margin-top: 0.9rem;
    /* margin-bottom: 0.3rem; */
  }
  
  .title {
    font-size: 28px;

  }
  